@font-face {
  font-family: 'DIN2014';
  font-weight: 800;
  src: url('../assets/Fonts/DIN2014-ExtraBoldItalic.ttf');
}
@font-face {
  font-family: 'DIN2014';
  font-weight: 600;
  src: url('../assets/Fonts/DIN2014-DemiBoldItalic.ttf');
}

@font-face {
  font-family: 'DIN2014';
  font-weight: 400;
  src: url('../assets/Fonts/DIN2014-Italic.ttf');
}
