@font-face {
  font-family: "DIN2014";
  font-weight: 800;
  src: url("../assets/Fonts/DIN2014-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "DIN2014";
  font-weight: 600;
  src: url("../assets/Fonts/DIN2014-DemiBoldItalic.ttf");
}
@font-face {
  font-family: "DIN2014";
  font-weight: 400;
  src: url("../assets/Fonts/DIN2014-Italic.ttf");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

/* SASS mixin start */
html,
body {
  width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}
html.no-scroll,
body.no-scroll {
  overflow: hidden;
}

body {
  overflow-x: clip;
  position: relative;
  font-family: "DIN2014", sans-serif;
  min-width: 360px;
  color: #fff;
  background-color: #092437;
  background-image: url("../assets/img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.page {
  width: 100%;
  min-height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1388px;
  padding: 0px 24px;
  margin: 0 auto;
  display: flex;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999999;
  width: 100%;
  padding: 20px 0;
  background-color: #2d5c8a;
}
.header__burger {
  display: none;
}
.header__wrapper {
  align-items: center;
  justify-content: space-between;
}
.header__sponsor {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 1.1;
  font-size: 16px;
  font-size: calc(12px + (16 - 12) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .header__sponsor {
    font-size: 12px;
  }
}
@media screen and (min-width: 1920px) {
  .header__sponsor {
    font-size: 16px;
  }
}
.header__sponsor-logo {
  width: 48px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
}
.header__nav-link, .header__links {
  font-weight: bold;
  padding: 0.2em 1em;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  text-transform: uppercase;
  font-size: 20px;
  font-size: calc(12px + (20 - 12) * (100vw - 320px) / (1920 - 320));
  border: 1px solid white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media screen and (max-width: 320px) {
  .header__nav-link, .header__links {
    font-size: 12px;
  }
}
@media screen and (min-width: 1920px) {
  .header__nav-link, .header__links {
    font-size: 20px;
  }
}
.header__nav-link:hover, .header__links:hover {
  background-color: white;
  color: #2d5c8a;
}
.header__nav-link:active, .header__links:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.header__nav-btn {
  font-weight: bold;
  padding: 0.2em 1em;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  text-transform: uppercase;
  font-size: 20px;
  font-size: calc(12px + (20 - 12) * (100vw - 320px) / (1920 - 320));
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: #a5002b;
}
@media screen and (max-width: 320px) {
  .header__nav-btn {
    font-size: 12px;
  }
}
@media screen and (min-width: 1920px) {
  .header__nav-btn {
    font-size: 20px;
  }
}
.header__nav-btn:hover {
  background-color: white;
  color: #2d5c8a;
}
.header__nav-btn:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.header__links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__links:hover path {
  fill: #2d5c8a;
}
.header__link-group {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__link-group-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  gap: 2px;
}
.header__link-group-item-icon svg {
  width: 16px;
  height: 16px;
}
.header__link-group-item-icon svg path {
  fill: white;
}

.main {
  overflow-x: clip;
}

.promo-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 97px;
}
.promo-section__wrapper {
  position: relative;
  padding-top: 64px;
  padding-bottom: 96px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.promo-section__lines {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
.promo-section__line {
  width: 320px;
  height: 5px;
  margin-left: -20px;
}
.promo-section__line_blue {
  background-color: #2d5c8a;
  transform: skew(1deg, -30deg) rotate(30deg);
  -webkit-transform: skew(1deg, -30deg) rotate(30deg);
  -moz-transform: skew(1deg, -30deg) rotate(30deg);
  -ms-transform: skew(1deg, -30deg) rotate(30deg);
  -o-transform: skew(1deg, -30deg) rotate(30deg);
}
.promo-section__line_red {
  margin-left: 20px;
  background-color: #a5002b;
  transform: skew(1deg, -30deg) rotate(30deg);
  -webkit-transform: skew(1deg, -30deg) rotate(30deg);
  -moz-transform: skew(1deg, -30deg) rotate(30deg);
  -ms-transform: skew(1deg, -30deg) rotate(30deg);
  -o-transform: skew(1deg, -30deg) rotate(30deg);
}
.promo-section__heading-group {
  position: relative;
}
.promo-section__heading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
  font-size: calc(32px + (50 - 32) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .promo-section__heading {
    font-size: 32px;
  }
}
@media screen and (min-width: 1920px) {
  .promo-section__heading {
    font-size: 50px;
  }
}
.promo-section__heading div {
  font-size: 42px;
  font-size: calc(26px + (42 - 26) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .promo-section__heading div {
    font-size: 26px;
  }
}
@media screen and (min-width: 1920px) {
  .promo-section__heading div {
    font-size: 42px;
  }
}
.promo-section__red-text {
  position: relative;
  z-index: 1;
  font-size: 24px;
  font-size: calc(20px + (24 - 20) * (100vw - 320px) / (1920 - 320));
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 320px) {
  .promo-section__red-text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .promo-section__red-text {
    font-size: 24px;
  }
}
.promo-section__red-text-holder {
  position: absolute;
  right: -34px;
  bottom: 4px;
}
.promo-section__red-text-holder::after {
  content: "";
  position: absolute;
  background-color: #a5002b;
  height: 107%;
  width: 150%;
  top: 0;
  left: -30px;
  right: 0;
  margin: auto;
  display: block;
  transform: skew(1deg, -30deg) rotate(30deg);
  z-index: 0;
  color: white;
}
.promo-section__blue-text {
  font-size: 24px;
  font-size: calc(20px + (24 - 20) * (100vw - 320px) / (1920 - 320));
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 320px) {
  .promo-section__blue-text {
    font-size: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .promo-section__blue-text {
    font-size: 24px;
  }
}
.promo-section__blue-text-holder {
  position: relative;
  margin: 12px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.promo-section__blue-text-holder::after {
  content: "";
  position: absolute;
  background-color: #2d5c8a;
  height: 107%;
  width: 130%;
  top: 0;
  left: -28px;
  right: 0;
  margin: auto;
  display: block;
  transform: skew(1deg, -30deg) rotate(30deg);
  z-index: 0;
  color: white;
}
.promo-section__subheading {
  display: flex;
  align-items: center;
  margin-bottom: 72px;
  text-transform: uppercase;
  color: #a5002b;
  font-weight: bold;
  gap: 10px;
  font-size: 32px;
  font-size: calc(20px + (32 - 20) * (100vw - 320px) / (1920 - 320));
}
.promo-section__subheading span {
  color: white;
}
@media screen and (max-width: 320px) {
  .promo-section__subheading {
    font-size: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .promo-section__subheading {
    font-size: 32px;
  }
}
.promo-section__price-group {
  width: 100%;
  max-width: 400px;
  margin-bottom: 32px;
}
.promo-section__price-box {
  position: relative;
  padding: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-left: 2px solid #577da4;
  border-right: 2px solid #577da4;
  border-bottom: 2px solid #577da4;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  font-size: 48px;
  font-size: calc(32px + (48 - 32) * (100vw - 320px) / (1920 - 320));
}
.promo-section__price-box::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15%;
  height: 100%;
  border-top: 2px solid #577da4;
  border-top-left-radius: 12px;
}
.promo-section__price-box::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 15%;
  height: 100%;
  border-top: 2px solid #577da4;
  border-top-right-radius: 12px;
}
.promo-section__price-box span {
  font-size: 30px;
  font-size: calc(24px + (30 - 24) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .promo-section__price-box span {
    font-size: 24px;
  }
}
@media screen and (min-width: 1920px) {
  .promo-section__price-box span {
    font-size: 30px;
  }
}
@media screen and (max-width: 320px) {
  .promo-section__price-box {
    font-size: 32px;
  }
}
@media screen and (min-width: 1920px) {
  .promo-section__price-box {
    font-size: 48px;
  }
}
.promo-section__price-heading {
  position: absolute;
  color: #577da4;
  right: 0;
  left: 0;
  top: -10px;
  margin: 0 auto;
  font-size: 20px;
  font-size: calc(12px + (20 - 12) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .promo-section__price-heading {
    font-size: 12px;
  }
}
@media screen and (min-width: 1920px) {
  .promo-section__price-heading {
    font-size: 20px;
  }
}
.promo-section__price-group-subtext {
  margin-top: 8px;
  color: #577da4;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  font-size: calc(10px + (12 - 10) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .promo-section__price-group-subtext {
    font-size: 10px;
  }
}
@media screen and (min-width: 1920px) {
  .promo-section__price-group-subtext {
    font-size: 12px;
  }
}
.promo-section__bg {
  position: absolute;
  left: 0;
  top: -100px;
  width: 100%;
  height: 150%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.promo-section__slogan {
  position: absolute;
  right: 100px;
  bottom: 90px;
  z-index: 2;
  font-weight: bold;
  font-size: 52px;
  font-size: calc(36px + (52 - 36) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .promo-section__slogan {
    font-size: 36px;
  }
}
@media screen and (min-width: 1920px) {
  .promo-section__slogan {
    font-size: 52px;
  }
}

.form-section {
  position: relative;
  background-repeat: no-repeat;
  background-image: url("../assets/img/section-bg.png");
  background-size: 758px auto;
  background-position: left 18% bottom 0;
}
.form-section__wrapper {
  padding-top: 96px;
  padding-bottom: 48px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-section__form {
  position: relative;
  width: 100%;
  max-width: 540px;
  margin-bottom: 120px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
}
.form-section__form::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 29%;
  height: 100%;
  border-bottom: 2px solid #fff;
  border-bottom-left-radius: 12px;
}
.form-section__form::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 29%;
  height: 100%;
  border-bottom: 2px solid #fff;
  border-bottom-right-radius: 12px;
}
.form-section__form-input {
  width: 100%;
  margin-bottom: 12px;
  border: none;
  background: none;
  padding: 16px;
  font-weight: bold;
  border-radius: 18px;
  border: 1px solid white;
  background-color: #577da4;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  font-family: "DIN2014", sans-serif;
  font-size: 14px;
  font-size: calc(16px + (14 - 16) * (100vw - 320px) / (1920 - 320));
  color: white;
}
@media screen and (max-width: 320px) {
  .form-section__form-input {
    font-size: 16px;
  }
}
@media screen and (min-width: 1920px) {
  .form-section__form-input {
    font-size: 14px;
  }
}
.form-section__form-input:focus {
  outline: none;
}
.form-section__form-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.462745098);
}
.form-section__form-input::placeholder {
  color: rgba(255, 255, 255, 0.462745098);
}
.form-section__form-btn {
  position: absolute;
  font-weight: bold;
  color: #2d5c8a;
  border: none;
  background: white;
  border-radius: 20px;
  padding: 0.8em 2.5em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "DIN2014", sans-serif;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  bottom: -24px;
  font-size: 16px;
  font-size: calc(16px + (16 - 16) * (100vw - 320px) / (1920 - 320));
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  text-transform: uppercase;
  outline: 3px solid white;
}
@media screen and (max-width: 320px) {
  .form-section__form-btn {
    font-size: 16px;
  }
}
@media screen and (min-width: 1920px) {
  .form-section__form-btn {
    font-size: 16px;
  }
}
.form-section__form-btn:hover {
  background-color: transparent;
  color: white;
}
.form-section__form-btn:active {
  transform: scale(0.96);
  -webkit-transform: scale(0.96);
  -moz-transform: scale(0.96);
  -ms-transform: scale(0.96);
  -o-transform: scale(0.96);
}
.form-section__list {
  width: 100%;
  display: grid;
  gap: 36px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
}
.form-section__list-item {
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  border: 2px solid #2d5c8a;
  line-height: 1.2;
  font-size: 22px;
  font-size: calc(16px + (22 - 16) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .form-section__list-item {
    font-size: 16px;
  }
}
@media screen and (min-width: 1920px) {
  .form-section__list-item {
    font-size: 22px;
  }
}
.form-section__smoke {
  position: absolute;
  right: -530px;
  top: -450px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: -1;
  width: 100%;
  max-width: 1500px;
  -o-object-fit: contain;
     object-fit: contain;
  transform: rotate(180deg) scaleY(-1);
  -webkit-transform: rotate(180deg) scaleY(-1);
  -moz-transform: rotate(180deg) scaleY(-1);
  -ms-transform: rotate(180deg) scaleY(-1);
  -o-transform: rotate(180deg) scaleY(-1);
  z-index: 1;
}

.subheading {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 64px;
  font-size: 42px;
  font-size: calc(24px + (42 - 24) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .subheading {
    font-size: 24px;
  }
}
@media screen and (min-width: 1920px) {
  .subheading {
    font-size: 42px;
  }
}

.price-section {
  position: relative;
}
.price-section::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(211, 233, 255, 0.75);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.price-section__wrapper {
  padding-bottom: 72px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.price-section__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.price-section__text {
  font-weight: bold;
  margin-bottom: 24px;
  text-transform: uppercase;
  color: #2d5c8a;
  text-align: center;
  font-size: 21.5px;
  font-size: calc(18px + (21.5 - 18) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .price-section__text {
    font-size: 18px;
  }
}
@media screen and (min-width: 1920px) {
  .price-section__text {
    font-size: 21.5px;
  }
}
.price-section__list {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 1208px;
  margin-bottom: 64px;
}
.price-section__list_grid {
  margin-bottom: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 64px;
       column-gap: 64px;
}
.price-section__list_grid .price-section__list-item {
  margin: 0;
  padding: 24px;
  max-width: unset;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: #2d5c8d;
}
.price-section__list_grid .price-section__list-item .price-section__list-item-heading {
  font-weight: bold;
  font-size: 40px;
  font-size: calc(36px + (40 - 36) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .price-section__list_grid .price-section__list-item .price-section__list-item-heading {
    font-size: 36px;
  }
}
@media screen and (min-width: 1920px) {
  .price-section__list_grid .price-section__list-item .price-section__list-item-heading {
    font-size: 40px;
  }
}
.price-section__list_grid .price-section__list-item .price-section__list-item-text {
  line-height: 1.2;
  font-size: 20px;
  font-size: calc(14px + (20 - 14) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .price-section__list_grid .price-section__list-item .price-section__list-item-text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1920px) {
  .price-section__list_grid .price-section__list-item .price-section__list-item-text {
    font-size: 20px;
  }
}
.price-section__list_grid .price-section__list-item:first-child {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-right: auto;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}
.price-section__list_grid .price-section__list-item:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}
.price-section__list_grid .price-section__list-item:nth-child(3) {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
}
.price-section__list_grid .price-section__list-item:nth-child(4) {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
}
.price-section__list_grid .price-section__list-item:nth-child(5) {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 4;
}
.price-section__list-item {
  position: relative;
  width: 100%;
  max-width: 280px;
  height: 128px;
  border-radius: 16px;
  background-color: #2d5c8d;
  padding: 16px;
  padding-top: 96px;
}
.price-section__list-item_no-frame {
  background-color: rgba(255, 255, 255, 0.8901960784);
  border: 2px solid #2d5c8a;
}
.price-section__list-item-value {
  width: calc(100% - 4px);
  position: absolute;
  left: 2px;
  top: 2px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.8901960784);
  border-radius: 14px;
  font-weight: bold;
  color: #a5002b;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 52px;
  font-size: calc(36px + (52 - 36) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .price-section__list-item-value {
    font-size: 36px;
  }
}
@media screen and (min-width: 1920px) {
  .price-section__list-item-value {
    font-size: 52px;
  }
}
.price-section__list-item-subtext {
  font-weight: 500;
  font-size: 20px;
  font-size: calc(14px + (20 - 14) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .price-section__list-item-subtext {
    font-size: 14px;
  }
}
@media screen and (min-width: 1920px) {
  .price-section__list-item-subtext {
    font-size: 20px;
  }
}
.tricolor {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.tricolor__line {
  width: 100%;
  height: 10px;
}
.tricolor__line_white {
  background-color: #fff;
}
.tricolor__line_blue {
  background-color: #2d5c8d;
}
.tricolor__line_reg {
  background-color: #e71c24;
}

.subheading_red {
  margin: 64px 0;
  color: #a5002b;
}

.plus {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.plus::after {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: #a5002b;
}
.plus::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: #a5002b;
}

.cond-section .subheading {
  color: #b9c4cc;
}
.cond-section__wrapper {
  padding-top: 96px;
  padding-bottom: 70px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cond-section__text-content {
  width: 100%;
  padding: 12px;
  margin-bottom: 96px;
  max-width: 1100px;
  border: 2px solid white;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 0.4fr 0.3fr 0.3fr;
}
.cond-section__text-content-item {
  position: relative;
  padding: 8px;
  padding-right: 24px;
  line-height: 1.2;
  font-size: 20px;
  font-size: calc(18px + (20 - 18) * (100vw - 320px) / (1920 - 320));
}
.cond-section__text-content-item::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  right: 12px;
  top: 0;
  background-color: #fff;
}
.cond-section__text-content-item:last-child::after {
  display: none;
}
@media screen and (max-width: 320px) {
  .cond-section__text-content-item {
    font-size: 18px;
  }
}
@media screen and (min-width: 1920px) {
  .cond-section__text-content-item {
    font-size: 20px;
  }
}
.cond-section__list {
  width: 100%;
  max-width: 1100px;
  margin-bottom: 45px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}
.cond-section__list-item {
  width: 100%;
  height: 100px;
  position: relative;
  padding: 12px 45px;
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  border-radius: 12px;
  border-left: 2px solid #577da4;
  border-right: 2px solid #577da4;
  line-height: 1.2;
  text-align: center;
  font-size: 18px;
  font-size: calc(12px + (18 - 12) * (100vw - 320px) / (1920 - 320));
  border-bottom: 2px solid #577da4;
  margin-top: 72px;
}
@media screen and (max-width: 320px) {
  .cond-section__list-item {
    font-size: 12px;
  }
}
@media screen and (min-width: 1920px) {
  .cond-section__list-item {
    font-size: 18px;
  }
}
.cond-section__list-item:nth-child(2) .cond-section__list-item-icon {
  top: -60px;
}
.cond-section__list-item:nth-child(3), .cond-section__list-item:nth-child(2) {
  padding-bottom: 8px;
}
.cond-section__list-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 29%;
  height: 100%;
  border-top: 2px solid #577da4;
  border-top-left-radius: 12px;
}
.cond-section__list-item::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 29%;
  height: 100%;
  border-top: 2px solid #577da4;
  border-top-right-radius: 12px;
}
.cond-section__list-item-icon {
  position: absolute;
  left: 0;
  right: 0;
  top: -32px;
  margin: 0 auto;
}
.cond-section__list-item-icon path {
  fill: white;
}
.cond-section__list-item-text {
  text-transform: uppercase;
  line-height: 1.3;
  font-size: 18px;
  font-size: calc(12px + (18 - 12) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .cond-section__list-item-text {
    font-size: 12px;
  }
}
@media screen and (min-width: 1920px) {
  .cond-section__list-item-text {
    font-size: 18px;
  }
}
.cond-section__heading {
  font-weight: bold;
  margin-bottom: 32px;
  font-size: 22px;
  font-size: calc(16px + (22 - 16) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .cond-section__heading {
    font-size: 16px;
  }
}
@media screen and (min-width: 1920px) {
  .cond-section__heading {
    font-size: 22px;
  }
}
.cond-section__row-list {
  width: 100%;
  max-width: 1000px;
  margin-bottom: 32px;
  height: 195px;
  row-gap: 10px;
  -moz-column-gap: 32px;
       column-gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  flex-wrap: wrap;
}
.cond-section__row-list_300 {
  height: 300px;
}
.cond-section__row {
  width: calc(50% - 16px);
  padding: 4px 10px;
  background-color: #355978;
  border-radius: 16px;
  color: #b9c4cc;
  border: 2px solid #90a3ae;
}

.footer {
  width: 100%;
  background-color: #a4002b;
}
.footer__wrapper {
  padding: 24px 0;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.footer__text {
  font-family: "DIN2014", sans-serif;
  font-weight: bold;
  font-size: 48px;
  font-size: calc(24px + (48 - 24) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .footer__text {
    font-size: 24px;
  }
}
@media screen and (min-width: 1920px) {
  .footer__text {
    font-size: 48px;
  }
}
.footer__tel-link {
  font-family: "DIN2014", sans-serif;
  font-weight: bold;
  font-size: 48px;
  font-size: calc(24px + (48 - 24) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .footer__tel-link {
    font-size: 24px;
  }
}
@media screen and (min-width: 1920px) {
  .footer__tel-link {
    font-size: 48px;
  }
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer__socials-link {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.footer__socials-link path {
  fill: white;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

.mobile-menu {
  width: 100%;
  position: fixed;
  left: 0;
  top: 96px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid white;
  background-color: #2d5c8a;
  z-index: 1000;
  padding-top: 36px;
  padding-bottom: 48px;
  box-shadow: 0px 65px 53px 0px rgba(0, 0, 0, 0);
  transition: 0.3s;
  transform: translateY(-100%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}
.mobile-menu.active {
  box-shadow: 0px 65px 53px 0px rgba(0, 0, 0, 0.41);
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}
.mobile-menu__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 24px;
}
.mobile-menu__nav-link {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1920 - 320));
}
@media screen and (max-width: 320px) {
  .mobile-menu__nav-link {
    font-size: 16px;
  }
}
@media screen and (min-width: 1920px) {
  .mobile-menu__nav-link {
    font-size: 20px;
  }
}
.mobile-menu__socials {
  display: flex;
  align-items: center;
  margin-top: 32px;
  gap: 32px;
}
.mobile-menu__socials path {
  fill: white;
}
iframe {
  height: 350px !important;
}

.toggle-footer-btn {
  display: none;
}

@media (max-width: 1440px) {
  .wrapper {
    max-width: 1096px;
  }
  .header__sponsor {
    gap: 2px;
  }
  .header__nav {
    gap: 16px;
  }
  .header__links {
    flex-direction: column;
    align-items: center;
    padding: 12px;
  }
  .promo-section__red-text-holder {
    right: -44px;
  }
}
@media (max-width: 1280px) {
  .footer__text {
    font-size: 36px;
    font-size: calc(20px + (36 - 20) * (100vw - 320px) / (1920 - 320));
  }
}
@media screen and (max-width: 1280px) and (max-width: 320px) {
  .footer__text {
    font-size: 20px;
  }
}
@media screen and (max-width: 1280px) and (min-width: 1920px) {
  .footer__text {
    font-size: 36px;
  }
}
@media (max-width: 1196px) {
  .wrapper {
    max-width: 920px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .header__sponsor {
    align-items: center;
  }
  .header__sponsor-logo {
    width: 48px;
  }
  .header__wrapper {
    gap: 32px;
  }
  .header__nav {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .header__nav-linkk {
    padding: 0.5em;
  }
  .header__nav-linkk:nth-child(3) {
    width: 100%;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .form-section__list {
    gap: 16px;
  }
  .price-section__list {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
  }
  .price-section__list_grid {
    grid-template-rows: none;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  .price-section__list .plus {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: auto;
  }
  .price-section__list-item {
    max-width: unset;
  }
  .price-section__list-item:first-child {
    grid-row-start: 2;
  }
  .price-section__list-item:nth-child(3) {
    grid-row-start: 1;
    grid-column-start: 3;
  }
  .price-section__list-item:nth-child(4) {
    grid-row-start: 2;
    grid-column-start: 3;
  }
  .price-section__list-item:nth-child(5) {
    grid-row-start: 3;
    grid-column-start: 3;
  }
  .price-section__list-item-value {
    font-size: 50px;
    font-size: calc(16px + (50 - 16) * (100vw - 320px) / (1920 - 320));
  }
}
@media screen and (max-width: 1196px) and (max-width: 320px) {
  .price-section__list-item-value {
    font-size: 16px;
  }
}
@media screen and (max-width: 1196px) and (min-width: 1920px) {
  .price-section__list-item-value {
    font-size: 50px;
  }
}
@media (max-width: 1196px) {
  .footer__socials {
    gap: 64px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .wrapper {
    max-width: 820px;
  }
  .form-section__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }
  .cond-section__row-list {
    height: 220px;
  }
  .cond-section__row-list_300 {
    height: 310px;
  }
  .cond-section__list-item-icon svg {
    width: 48px;
  }
}
@media (max-width: 920px) {
  .header {
    padding: 8px 0;
  }
  .header__sponsor {
    gap: 16px;
  }
  .header__nav {
    display: none;
  }
  .header__links {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header__burger svg {
    width: 64px;
    height: 64px;
  }
  .header__burger .line {
    stroke: #fff;
  }
  .form-section__smoke {
    right: -420px;
    top: -300px;
  }
  .promo-section__bg {
    right: 0;
    top: 0;
    width: 100%;
    left: 0;
    height: 789px;
    -o-object-position: top;
       object-position: top;
  }
  .promo-section__slogan {
    right: 50px;
    bottom: 50px;
  }
  .toggle-footer-btn {
    background: none;
    border: none;
    position: fixed;
    right: 32px;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 32px;
    border: none;
    background: none;
    z-index: 999;
    display: initial;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #e71c24;
  }
  .toggle-footer-btn svg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 32px;
    height: 32px;
  }
  .toggle-footer-btn .close-icon {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .toggle-footer-btn .tel-icon {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .toggle-footer-btn.active .tel-icon {
    opacity: 0;
    visibility: hidden;
  }
  .toggle-footer-btn.active .close-icon {
    opacity: 1;
    visibility: visible;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .footer__wrapper {
    flex-direction: column;
    gap: 24px;
  }
  .footer__socials {
    flex-direction: row;
  }
  .footer.active {
    box-shadow: 0px -5px 15px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 570px;
  }
  .price-section__list_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .price-section__list_grid .price-section__list-item {
    gap: 64px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .form-section__form {
    padding: 24px;
  }
  .form-section__list {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }
  .cond-section__list {
    grid-template-columns: 1fr;
  }
  .cond-section__list-item {
    align-items: center;
    justify-content: center;
  }
  .cond-section__list-item-icon {
    top: -48px;
  }
  .cond-section__list-item-icon svg {
    width: 64px;
  }
  .cond-section__row {
    width: 100%;
    padding: 16px;
  }
  .cond-section__row-list {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
  }
  .cond-section__text-content {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }
  .cond-section__text-content-item {
    padding: 24px;
  }
  .cond-section__text-content-item::after {
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    top: unset;
    right: unset;
  }
  .price-section__text {
    line-height: 1.3;
  }
  .price-section__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
  }
  .footer__socials {
    flex-direction: row;
    gap: 32px;
  }
}
@media (max-width: 625px) {
  .promo-section__bg {
    -o-object-position: right -830px top 100px;
       object-position: right -830px top 100px;
    width: 100%;
    height: 860px;
  }
  .promo-section__subheading {
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    font-size: 34px;
    margin: 40px 0;
  }
  .promo-section__subheading span {
    color: #a4002b;
  }
  .promo-section__wrapper {
    padding-top: 24px;
  }
  .promo-section__slogan {
    right: 16px;
    bottom: 16px;
    font-size: 24px;
  }
  .promo-section__red-text-holder::after {
    width: 130%;
    top: 0;
    left: -16px;
  }
  .form-section {
    background-size: 468px auto;
    background-position: bottom;
  }
  .form-section__wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .form-section__form {
    margin-bottom: 64px;
  }
  .form-section__list-item {
    background: rgba(255, 255, 255, 0.26);
  }
  .subheading {
    margin-bottom: 24px;
    text-align: center;
    font-size: 28px;
  }
  .price-section__list-item {
    height: 114px;
    padding-top: 81px;
  }
  .price-section__list-item-value {
    font-size: 36px;
  }
  .price-section__list-item-subtext {
    font-size: 20px;
  }
  .cond-section__wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .cond-section__list-item-text {
    font-size: 24px;
  }
  .form-section__list-item-text {
    font-size: 20px;
  }
  .cond-section__list-item {
    height: 140px;
  }
  .cond-section__list-item-icon svg {
    width: 96px;
  }
  .cond-section__list {
    gap: 12px;
  }
  .cond-section__list-item:nth-child(2) {
    padding-top: 28px;
    height: 190px;
  }
  .cond-section__heading {
    font-size: 28px;
    text-align: center;
  }
  .cond-section__row {
    font-size: 20px;
  }
  .price-section__list_grid .price-section__list-item {
    gap: 24px;
  }
  .price-section__list_grid .price-section__list-item .price-section__list-item-text {
    font-size: 24px;
  }
  .cond-section__text-content-item {
    font-size: 20px;
  }
  .cond-section__text-content {
    margin-bottom: 24px;
  }
  .footer__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 36px;
  }
  .footer__socials {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .footer__text {
    font-size: 16px;
    text-align: center;
  }
  .footer__tel-link {
    font-size: 20px;
    text-align: center;
  }
  .toggle-footer-btn {
    bottom: 160px;
    right: 16px;
    width: 40px;
    height: 40px;
    bottom: 16px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
  .toggle-footer-btn.active {
    bottom: 160px;
  }
  .toggle-footer-btn svg {
    width: 24px;
    height: 24px;
  }
}/*# sourceMappingURL=index.css.map */